<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button disabled>
        <ion-icon></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <div class="ion-text-center">
        Fashion Buddy
      </div>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button color="dark" (click)="navigateTo('settings')">
        <ion-icon name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingText="Pull to refresh" refreshingSpinner="crescent">
    </ion-refresher-content>
  </ion-refresher>
  <ion-grid class="contest-container">
    <ng-container *ngIf="contests && contests[0] != null">
      <ion-row>
        <div class="primary-tag">
          <ion-text color="light">{{ contests[0].style }}</ion-text>
        </div>
      </ion-row>
      <ion-row>
        <div class="secondary-tag">
          <ion-text color="light"> {{ contests[0].occasion }}</ion-text>
        </div>
      </ion-row>
      <ion-row>
        <ion-col *ngFor="let option of contests[0].options; let optionIndex = index">
          <div id="draggable-container" *ngIf="isContestVisible" [@inOutAnimation] cdkDragLockAxis="y" cdkDrag
            (cdkDragEnded)="tinderCardDragEnded($event, contests[0].id, optionIndex)">
            <tinder-card [imageUrl]="option.imageUrl">
            </tinder-card>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-button *ngIf="isContestVisible" [@inOutAnimation] fill="clear" color="medium"
          (click)="confirmReport(contests[0].id)">
          <ion-icon slot="start" name="flag"></ion-icon>
          Report
        </ion-button>
      </ion-row>
    </ng-container>
    <ion-row *ngIf="!(contests && this.contests[0] != null)" [@inOutAnimation]>
      <ion-col class="ion-text-center">
        <ion-text style="font-size: 1.5rem">You're all caught up! <br /><a style="font-size: 1.2rem"
            [routerLink]="['/tabs/upload']" routerLinkActive="router-link-active">Post an outfit</a></ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
