<ion-header>
  <ion-toolbar>
    <ion-title>
      <div text-center>
        Fashion Buddy
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingText="Pull to refresh" refreshingSpinner="crescent" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-grid class="contest-container">
    <ion-row>
      <ng-container *ngIf="contests && contests[0] != null">
        <ion-col *ngFor="let option of contests[0].options">
          <div id="draggable-container" *ngIf="isContestVisible" [@inOutAnimation] cdkDragLockAxis="y" cdkDrag
            (cdkDragEnded)="tinderCardDragEnded($event, contests[0].id, option)">
            <tinder-card [imageUrl]="option.imageUrl">
            </tinder-card>
          </div>
        </ion-col>
      </ng-container>
    </ion-row>
    <ion-row *ngIf="!(contests && this.contests[0] != null)" [@inOutAnimation]>
      <ion-col text-center>
        <ion-text style="font-size: 1.5rem">You're all caught up! <br/><a style="font-size: 1.2rem" [routerLink]="['/tabs/upload']" routerLinkActive="router-link-active" >Post an outfit</a></ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
