<ion-row justify-content-center>
  <ion-col text-center size="3" *ngFor="let selector of selectors">
    <div [class.active]="selector === value" class="selector" (click)="onTimeSelected(selector)">
      {{selector | lowercase}}
    </div>
  </ion-col>
  <ion-col text-center size="3">
    <div class="selector" (click)="openTimeSelector()" [class.active]="value === 'custom'">
      {{ timePickerLabel }}
    </div>
  </ion-col>
  <ion-datetime #timePicker style="display: none" (ionChange)="parseTimePickerValue(timePickerValue)"
    pickerFormat="H:mm" [value]="timePickerValue"></ion-datetime>
</ion-row>
