<ion-content padding id="master-forgotpw">
  <ion-grid id="box-logo">
    <ion-row>
      <img id="img-logo" src="/assets/icon/fbuddy-main-logo.svg">
    </ion-row>
  </ion-grid>
  <ion-grid id="box-main">
    <ion-row class="prompt-login-register">
      <ion-col>
        <ion-item color="none" lines="none">
          <ion-text id="semi-box-login" color="dark"><b>Log In</b></ion-text>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item color="none" lines="none">
          <ion-text id="semi-box-register" color="dark" (click)="navigateTo('register')">
            Register
          </ion-text>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-grid id="box-forgotpw">
      <ion-row>
        <ion-col>
          <ion-row>
            <ion-item id="txt-forgotpw" color="none" lines="none">
              <ion-text><b>Forgot Your Password?</b></ion-text>
            </ion-item>
          </ion-row>
          <ion-row>
            <ion-item id="txt-tip" color="none" lines="none">
              <ion-text text-center>Type in your e-mail and we will send you a link to reset your password!
              </ion-text>
            </ion-item>
          </ion-row>
          <ion-item id="box-input" lines="none">
            <ion-input id="input-box" type="text" placeholder="Email Address" [(ngModel)]="email"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-button id="btn-Send" mode="ios" expand="block" shape="round" (click)="sendPasswordResetEmail(email)">
        Send Email Link
      </ion-button>
      <ion-row>
        <ion-icon id="icon-Back" color="dark" justify-content-center name="md-arrow-back" (click)="navigateTo('login')">
        </ion-icon>
      </ion-row>
    </ion-grid>
  </ion-grid>
</ion-content>