#master-forgotpw {
  --background: #fff url('/assets/icon/login-background-gradients.svg') no-repeat center center / cover;
}
#box-logo {
  margin-top: 8vh;
}
#img-logo {
  margin-left: auto;
  margin-right: auto;
  height: 40%;
  width: 40%;
}

#box-main {
  position: sticky;
  left: 0px;
  right: 0px;
  top: 34vh;
}

#box-forgotpw {
  margin-left: 6%;
  margin-right: 6%;
  background: linear-gradient(67.75deg, #faf1ff -55.76%, #eef4ff 170.35%);
  box-shadow: 3px 5px 19px 5px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
}

#box-input {
  background: #ffffff;
  border-radius: 10px;
  margin: 1rem;
}

#input-box {
  --placeholder-opacity: 0.7;
  --placeholder-color: #828080;
  --color: black;
}

#btn-Send {
  --box-shadow: 0px 0.4rem 1rem rgba(0, 0, 0, 0.25);
  margin-top: 3%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
  padding-bottom: 0.3%;
}

#txt-forgotpw {
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
  font-size: 1.18rem;
}

#txt-tip {
  margin-bottom: 3%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1rem;
  text-align: center;
}

#icon-Back {
  margin: auto;
  font-size: 2.4rem;
}





