<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="navigateTo('tabs/voting')">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <div class="ion-text-center">
        Settings
      </div>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button disabled>
        <ion-icon></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item (click)="logOut()">
      Log out
      <ion-icon mode="ios" slot="end" name="log-out"></ion-icon>
    </ion-item>
    <ion-item (click)="deleteAccount()">
      <ion-text color="danger">Delete Account</ion-text>
    </ion-item>
  </ion-list>
  <ion-row class="version-stamp">
    <ion-col>
      Version: {{ versionNumber || "cordova not available" }}
    </ion-col>
  </ion-row>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>
      <div style="font-size: 1rem" class="ion-text-center">
        <a href="https://fashionbuddyapp.com/privacy-policy.html">Privacy Policy</a>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-footer>
