<ion-header>
  <ion-toolbar>
    <ion-title>
      <div text-center>
        Upload
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="contest-container">
    <ion-row justify-content-center>
      <ng-container *ngFor="let image of images; let i = index">
        <ion-col class="contest-column">
          <div>
            <ion-img *ngIf="images[i] != null" [src]="images[i]" (click)="askDeleteImage(i)">
            </ion-img>
          </div>
          <ion-button fill="clear" color="dark" class="image-placeholder-button" expand="block"
            (click)="selectSource(i)" *ngIf="images[i] == null">
            <ion-icon name="camera"></ion-icon>
          </ion-button>
        </ion-col>
      </ng-container>
    </ion-row>
  </ion-grid>
</ion-content>
