<ion-header>
  <ion-toolbar>
    <ion-title>
      <div text-center>
        Upload
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid class="contest-container">
    <ion-row justify-content-center>
      <ng-container *ngFor="let image of images; let i = index">
        <ion-col class="contest-column">
          <div style="height: 100%" *ngIf="viewEntered" [@shortFadeIn]>
            <tinder-card *ngIf="croppedImages[i] != null" [imageUrl]="croppedImages[i]" (click)="selectDeleteOrCrop(i)">
            </tinder-card>
            <ion-button *ngIf="croppedImages[i] == null" fill="clear" color="dark" class="image-placeholder-button"
              expand="block" (click)="selectSource(i)">
              <ion-icon mode="ios" name="camera"></ion-icon>
            </ion-button>
          </div>
        </ion-col>
      </ng-container>
    </ion-row>
    <ion-row>
      <ion-col>
        <div *ngIf="viewEntered" [@mediumFadeIn]>
          <ion-list>
            <ion-item no-padding>
              <ion-label no-margin>
                <ion-icon isActive="false" mode="md" name="shirt"></ion-icon> Style:
              </ion-label>
              <ion-select interface="popover" [(ngModel)]="style">
                <ion-select-option value="Casual">Casual</ion-select-option>
                <ion-select-option value="Trendy">Trendy</ion-select-option>
                <ion-select-option value="Business Casual">Business Casual</ion-select-option>
                <ion-select-option value="Formal">Formal</ion-select-option>
                <ion-select-option value="Comfortable">Comfortable</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item no-padding>
              <ion-label>
                <ion-icon mode="ios" name="wine"></ion-icon> Occasion:
              </ion-label>
              <ion-select interface="popover" [(ngModel)]="occasion">
                <ion-select-option value="Work">Work</ion-select-option>
                <ion-select-option value="School">School</ion-select-option>
                <ion-select-option value="Brunch/Dinner">Brunch/Dinner</ion-select-option>
                <ion-select-option value="Party">Party</ion-select-option>
                <ion-select-option value="Hangout">Hangout</ion-select-option>
                <ion-select-option value="Everyday">Everyday</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item lines="none" no-padding>
              <ion-label fixed>
                <ion-icon mode="ios" name="timer"></ion-icon> Voting Closes in:
              </ion-label>
            </ion-item>
            <app-duration-picker (timeSelectedEvent)="onTimeSelectedEvent($event)"></app-duration-picker>
            <ion-item-divider mode="md"></ion-item-divider>
          </ion-list>
        </div>
        <div *ngIf="viewEntered" [@longFadeIn]>
          <ion-button mode="ios" color="primary" expand="block" (click)="createContest()">Get Some Votes</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
