.contest-container {
  max-width: 600px;
  padding: 20px;
  margin: auto;
}

.contest-column {
	min-height: 42vh;
}

.image-placeholder-add-icon {
	font-size: 1.5em;
}

.image-placeholder-icon {
	border: 2px solid black;
	border-radius: 10px;
	font-size: 2em;
	height: 100%;
	margin: 1px !important;
}