<ion-header>
  <ion-toolbar>
    <ion-title>
      FashionBuddy
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="contest-container">
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let option of contest.options; let i = index">
        <ion-card mode="md" no-margin cdkDragLockAxis="y" cdkDrag>
          <ion-card-content no-padding>
            <ion-img style="object-fit: contain" [src]="option.imageUrl"></ion-img>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
</ion-content>
