<ion-header>
  <ion-toolbar>
    <ion-title>
      FashionBuddy
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid class="contest-container">
    <ion-row>
      <ion-col *ngFor="let option of contest.options; let i = index">
        <div id="draggable-container" cdkDragLockAxis="y" cdkDrag (cdkDragEnded)="tinderCardDragEnded($event)">
          <tinder-card [currentState]="isContestVoted ? 'invisible' : 'visible'" [imageUrl]="option.imageUrl">
          </tinder-card>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-button (click)="closeContest()">Close</ion-button>
      <ion-button (click)="resetContest()">Reset</ion-button>
    </ion-row>
  </ion-grid>
</ion-content>