<ion-header>
  <ion-toolbar>
    <ion-title>
      FashionBuddy
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid class="contest-container">
    <ion-row>
      <ng-container *ngIf="contests[0] != null">
        <ion-col *ngFor="let option of contests[0].options">
          <div id="draggable-container" cdkDragLockAxis="y" cdkDrag (cdkDragEnded)="tinderCardDragEnded($event)">
            <tinder-card [currentState]="isContestVoted ? 'invisible' : 'visible'" [imageUrl]="option.imageUrl">
            </tinder-card>
          </div>
        </ion-col>
      </ng-container>
    </ion-row>
  </ion-grid>
</ion-content>