.main-card {
  margin: 0px;
  border-radius: 20px;
}

.overlay-text {
  --background: var(--ion-color-primary);
  text-align: center;
  color: white;
}

.overlay-image {
  object-fit: contain;
  opacity: 0.5;
}
