<ion-header>
  <ion-toolbar>
    <ion-title>
      <div text-center>
        Fashion Buddy
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Confirm Password</ion-label>
      <ion-input type="password" [(ngModel)]="confirmPassword"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Remember Me</ion-label>
      <ion-checkbox slot="start" [(ngModel)]="rememberMe"></ion-checkbox>
    </ion-item>

  </ion-list>
  <ion-button mode="ios" fill="solid" expand="block" color="dark" (click)="register()">Sign Up</ion-button>
  <br />
  <ion-text color="primary" (click)="navigateTo('login')">Already have an account? Log-in instead</ion-text>
</ion-content>
