<ion-header>
  <ion-toolbar>
    <ion-title>
      <div text-center>
        FashionBuddy
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingText="Pull to refresh" refreshingSpinner="crescent" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-grid class="contest-container">
    <ion-row>
      <ng-container *ngIf="contests && contests[0] != null">
        <ion-col *ngFor="let option of contests[0].options">
          <div id="draggable-container" cdkDragLockAxis="y" cdkDrag (cdkDragEnded)="tinderCardDragEnded($event)">
            <tinder-card [currentState]="isContestVisible ? 'visible' : 'invisible'" [imageUrl]="option.imageUrl">
            </tinder-card>
          </div>
        </ion-col>
      </ng-container>
      <ion-col *ngIf="contests && contests[0] == null" text-center>
        <ion-text>No contests to vote on :(</ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>