.selector {
  padding: 5px;
  font-size: 0.9rem;
  background-color: white;
  color: #9B46FD;
  border: 1px solid #9B46FD;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.active {
  padding: 5px;
  background-color: #9B46FD;
  color: white;
  }
